/* DEPENDENCIES */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* NAV */
@layer components {
  nav {
    @apply bg-white w-full flex flex-wrap items-end justify-between py-4 px-[100px] fixed z-20 left-[-100px] text-black;
    width: calc(100% + 200px);
  }

  .page-title {
    @apply text-3xl md:text-4xl whitespace-nowrap;
  }

  /* HAMBURGER NAV */
  #ham-nav {
    @apply block md:hidden;
  }

  #ham-dropdown {
    @apply fixed flex flex-col gap-[4px] justify-center items-center bg-white bg-opacity-90 h-[100vh] top-[60px] left-0 z-10 pb-[15vh] font-normal;
    width: calc(100%);
  }

  /* FULL SIZE NAV */
  #main-nav {
    @apply hidden md:block;
  }

  #main-nav-links {
    @apply text-lg flex flex-row md:gap-8;
  }

  #profile-dropdown a,
  #profile-dropdown p,
  #main-nav-links a,
  #profile-nav-links  {
    @apply hover:text-stone-500;
  }

  #profile-nav-links {
    @apply text-lg flex flex-row md:gap-2;
  }

  /* PROFILE VIEW */
  #profile-dropdown {
    @apply flex flex-col absolute top-[60px] bg-white rounded-xl px-10 pb-4 text-lg;
    transform: translateX(-40px);
  }
}

#expand-username {
  transform: scale(1.3, 0.7);
}
