/* DEPENDENCIES */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* SETTINGS PAGE */
@layer components {
  #settings-and-nav {
    @apply flex flex-col md:flex-row;
    min-height: calc(100vh - 150px);
  }

  #settings-right {
    @apply md:w-full mx-6 sm:mx-8 md:mx-12;
  }

  /* INDIVIDUAL DASHBOARD SETTINGS */
  .dashboard-title {
    @apply text-2xl sm:text-3xl text-left;
  }

  .dashboard-title-div {
    @apply flex flex-row justify-between items-end gap-6 mt-6 mb-4;
  }

  .expand-profile {
    transform: scale(1.2, 0.7);
  }

  .db-settings {
    @apply my-5;
  }

  .settings-separator {
    border-top: 0.5px solid #00000068;
  }

  .success {
    @apply mt-1 xs:mt-0 xs:mb-[0.65rem] italic text-neutral-500;
  }

  .failure {
    @apply mt-1 xs:mt-0 xs:mb-[0.65rem] italic text-red-500;
  }

  .settings-text {
    @apply text-sm text-neutral-600 mb-2;
  }

  /* INDIVIDUAL SETTINGS SECTION */
  .settings-section-title {
    @apply mt-2 mb-2;
  }

  .db-content-settings {
    @apply flex flex-col mb-8 flex-grow-0;
  }

  .db-content-setting {
    @apply flex flex-col flex-wrap xs:flex-row xs:items-start gap-y-1 xs:gap-y-0 xs:gap-x-4 mb-2;
  }

  .db-content-setting input {
    @apply focus:ring-0 focus:outline-none bg-transparent;
    border: 0px solid black;
    border-bottom: 0.5px solid #a4a594b6;
  }

  /* 
  .input {
    @apply focus:ring-0 focus:outline-none bg-transparent;
  } */

  .setting-title {
    @apply xs:mt-3;
  }

  .list-titles {
    @apply flex flex-col;
  }

  /* STYLE SETTINGS */
  .db-style-settings {
    @apply flex flex-row flex-wrap justify-center items-center gap-2 md:gap-4 xs:px-2 lg:px-6 mb-8;
  }

  .style-card {
    @apply flex flex-row gap-1 p-1 xs:p-2 h-[60px] w-[60px] xs:h-[80px] xs:w-[80px] md:h-[90px] md:w-[90px];
  }

  .style-card > * {
    @apply grow;
  }

  .right-style-cards {
    @apply flex flex-col h-full gap-1;
  }

  .right-style-cards > * {
    @apply h-full;
  }

  /* SETTINGS BUTTONS */
  .settings-button {
    @apply bg-[#F7F7F5] rounded-xl py-3 px-5 shadow-xl font-medium italic mt-1;
    width: fit-content;
  }

  .delete-button {
    transform: scale(1.3, 1);
    @apply text-[#a4a594] mt-[0.8rem];
  }

  .delete-db-button {
    @apply bg-red-600 text-white rounded-xl py-3 px-5 shadow-xl font-medium italic mt-1 mb-5;
    width: fit-content;
  }

  #create-new-db-button-div {
    @apply flex justify-end;
  }

  #create-new-db-button {
    @apply bg-black text-white rounded-xl py-3 px-5 shadow-xl mt-8 mb-10 italic font-medium;
  }

  /* SETTINGS NAV */
  #settings-nav {
    @apply flex flex-row mb-2 gap-6 xs:gap-10 justify-center text-xl md:text-lg md:justify-start md:h-[80vh] md:gap-1 md:flex-col md:w-[220px] lg:w-[250px] md:p-10 md:border-r-[0.5px] border-[#7a7a7a];
    position: sticky;
    top: 80px;
    left: 0;
  }

  #selected-settings-title {
    @apply underline decoration-1 underline-offset-8 md:no-underline md:bg-black md:bg-opacity-5 md:px-2 lg:px-4 md:rounded-e-xl md:border-l-4 md:border-black;
  }
}
