/* DEPENDENCIES */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* REUSABLE */
  .main-title {
    @apply text-3xl md:text-5xl text-center;
  }

  .title {
    @apply text-3xl md:text-4xl text-center;
  }

  .large-text {
    @apply text-xl my-2;
  }

  .med-text {
    @apply text-lg;
  }

  .small-text {
    @apply text-sm;
  }

  .card {
    @apply rounded-xl p-3 md:p-4 shadow-xl;
  }

  .card h3 {
    @apply text-2xl text-center;
  }

  .card h4 {
    @apply text-xl text-center;
  }

  .mini-card {
    @apply rounded-xl p-3 my-2 shadow-xl;
  }

  .clear-mini-card {
    @apply flex flex-row gap-2 px-2 my-3;
  }

  .button-outer {
    @apply flex justify-center;
  }

  .button {
    @apply rounded-xl py-3 px-5 shadow-xl font-medium italic;
  }

  /* PROFILE PAGE */
  .profile-left {
    @apply flex flex-row md:flex-col flex-auto md:w-[30vw] md:max-w-[300px] gap-2;
  }

  .profile-right {
    @apply flex flex-col flex-auto gap-2;
  }

  .profile-main {
    @apply flex flex-row justify-center flex-wrap gap-2 h-full;
  }

  .profile-card {
    @apply w-full md:h-full;
  }

  .edit-profile-card {
    @apply flex items-center justify-center;
  }

  .goals {
    @apply flex flex-row gap-2 text-center flex-wrap items-center mt-2;
  }

  .goal-card {
    @apply flex justify-center items-center flex-1 min-h-[80px];
  }

  .todo {
    @apply w-[98%] sm:w-[49%] md:w-[33%];
  }

  .info-cards {
    @apply flex flex-row md:flex-col gap-2 flex-1;
  }

  .weather {
    @apply w-[50%] md:w-full h-full;
  }

  .stocks {
    @apply w-[50%] md:w-full h-full;
  }

  /* HOURGLASS */
  #hourglass {
    @apply w-[100vw] flex items-center justify-center;
    min-height: calc(100vh - 150px);
  }

  /* ERROR PAGE */
  .error-page {
    @apply h-full flex flex-col items-center px-5 justify-center;
  }
}

/* FONTS */
.playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  transform: scale(1, 0.9);
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  transform: scale(0.92, 1);
}

/* REUSABLE */
.min-width {
  min-width: 250px;
}

.separator {
  border-top: 0.5px solid rgba(255, 255, 255, 0.407);
  margin: 0px 20px 0px 20px;
}
