/* DEPENDENCIES */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* REUSABLE */
  .title {
    @apply text-3xl md:text-4xl text-center;
  }

  .large-text {
    @apply text-xl my-2;
  }

  .med-text {
    @apply text-lg;
  }

  .small-text {
    @apply text-sm;
  }

  .card {
    @apply rounded-xl p-8 shadow-xl;
  }

  /* HOURGLASS */
  #hourglass {
    @apply h-full flex items-center justify-center;
  }

  /* ERROR PAGE */
  .error-page {
    @apply h-full flex flex-col items-center px-5 justify-center;
  }
}

/* FONTS */
.playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  transform: scale(1, 0.9);
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  transform: scale(0.92, 1);
}

/* REUSABLE */
.min-width {
  min-width: 250px;
}
