/* DEPENDENCIES */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* REUSABLE */
  .main-title {
    @apply text-3xl md:text-5xl text-center;
  }

  .title {
    @apply text-xl sm:text-3xl md:text-4xl text-center;
  }

  .large-text {
    @apply text-base sm:text-xl my-2;
  }

  .med-text {
    @apply text-base sm:text-lg;
  }

  .small-text {
    @apply text-sm;
  }

  .card {
    @apply rounded-xl p-3 md:p-4 shadow-xl;
  }

  .card h3 {
    @apply text-xl text-center;
  }

  .card h4 {
    @apply text-lg text-center;
  }

  .mini-card {
    @apply rounded-xl p-3 shadow-xl;
  }

  .clear-mini-card {
    @apply flex flex-row gap-2 px-2 my-3;
  }

  .button-outer {
    @apply flex justify-center;
  }

  .button {
    @apply rounded-xl py-3 px-5 shadow-xl font-medium italic;
  }

  .min-width {
    min-width: 250px;
  }

  .separator {
    border-top: 0.5px solid rgba(255, 255, 255, 0.407);
    margin: 0px 20px 0px 20px;
  }

  .dark-separator {
    border-top: 0.5px solid rgba(0, 0, 0, 0.407);
    margin: 0px 20px 0px 20px;
  }

  /* HOURGLASS */
  #hourglass {
    @apply w-[100vw] flex items-center justify-center;
    min-height: calc(100vh - 150px);
  }

  /* ERROR PAGE */
  .error-page {
    @apply h-full flex flex-col items-center px-5 justify-center;
  }
}

/* FONTS */
.playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  transform: scale(1, 0.9);
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  transform: scale(0.92, 1);
}
